.content {
  display: flex;
  flex-grow: 1;
}

.left, .right {
  width: 50%;
}

.left {
  display: flex;
  flex-direction: column;
}

.about {
  flex-grow: 1;
}

.links {
  margin: 0 -.5rem;
}

.links > * {
  margin: 0 .5rem;
}

.technologies {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -.5rem -.5rem -.5rem;
}

.technology {
  background: rgba(255,255,255,0.1);
  border-radius: 5px;
  margin: .5rem;
  padding: .25rem .5rem;
}
