@import url('https://fonts.googleapis.com/css?family=Lato');

:global html, :global body, :global #ui, :global #game {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:global body {
  background: #111;
  color: #999;
  font-family: 'Lato', sans-serif;
  font-size: .8rem;
  line-height: 1.4;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

:global #ui, :global #game {
  position: absolute;
  height: 100%;
  width: 100%;
}

:global #ui {
  z-index: 2;
}

:global #game {
  z-index: 1;
}

:global h1 {
  color: #fff;
  font-size: 1.1rem;
  font-weight: normal;
  text-transform: uppercase;
}

:global h2 {
  font-weight: normal;
  text-transform: uppercase;
}

:global a {
  color: #D95A02;
}
