.root {
  background: rgba(0,0,0,0.75);
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  overflow: hidden;
  padding: 1rem;
  position: absolute;
  width: 100%;
}

@media screen and (min-width: 40rem) {
  .root {
    left: 50%;
    margin-left: -20rem;
  }
}

.root header {
  align-items: center;
  display: flex;
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.root h1 {
  margin: 0;
}

.timespan {
  flex-grow: 1;
  font-size: .7rem;
  margin-left: .5rem;
}

.subtitle {
  font-style: italic;
}
